<% content_for :title, @title_header %>
<style>

    .container {
        display: flex;
        height: 100vh;
        background: lightblue;
    }
    
    .badan {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 7%;
        right: 7%;
        bottom: 0;
    }
    
    .flex-header {
        flex: 1;
        background-color: #FFFFFF;
        /* box-shadow: 0 1px 1px #757474; */
        z-index: 2;
    }
    
   .flex-body {
    flex: 6;
    background-color: #FFF;
    overflow-y: auto;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    }

    ::-webkit-scrollbar {
        width: 0;  /* Remove scrollbar space */
        background: transparent;  /* Optional: just make scrollbar invisible */
    }
    .flex-footer {
        flex: 1;
        background-color: #355d9a;
    }
    
    .cardImageBlue {
        background: url("http://103.105.216.72:7325/banner/Web_MDM_Backgroundhead.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .textWhiteJudul{
        color: #FFF;
        font-size: 30px;
        padding-top: 100px;
        text-align: center;
    }
    
    .btnWhatsapp {
        background: #244474;
        padding: 2px 0px 2px 0px;
        color: white;
        text-align: center;
        border-radius: 5px;
        font-size: 12px;
        width: 20%;
    }
    
    .textJudul{
        color: #9d9d9d;
        font-size: 18px;
        float: center;
        margin-top: 30px;
        text-align: center;
    }
    
    .textJudulTitle{
        color: #797979;
        font-size: 18px;
    }
    
    .mt-auto {
        margin-top: auto!important;
    }
    
    .container-product {
      position: relative;
    }

    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary {
    color: #FFFFFF !important;
    background-color: #3963a3 !important;
    border-color: #3963a3 !important;
}
</style>
   
<div class="container">
    <div class="badan">
        <div class="flex-header">
            <%= render "companyprofile/home/menu.html.erb"%>
        </div>
        <div class="flex-body">
            <div class="cardImageBlue">
                <div class="textWhiteJudul">
                    Login
                </div>
            </div>
                <div style="margin: auto; ">
                    <div class="d-flex justify-content-center flex-wrap"> 
                        <div class="p-2 bd-highlight" style="padding:6px;">
                        <div class="card" style="margin: 20px; ">
                            <div class="card-body">
                                <%# <form class="form-signin" method="post" action="/companyprofile/login_members/login_member"> %>
                                    
                                    <h3 style="text-align: center;">Silahkan melakukan login</h3>
                                    <div class="form-group" style="margin-bottom: 30px;">
                                    <input type="email" class="form-control" id="email" placeholder="Email" name= "email" required>
                                    </div>
                                    <div class="form-group">
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="login()">Login</button>
                                <%# </form> %>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            <div class="flex-footer">
                <%= render "/companyprofile/home/footer.html.erb"%>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    function login(){

        email = document.getElementById("email").value;
        password = document.getElementById("password").value;
        console.log(email )
        console.log(password )

        if(email == "" || password == "")
        {
            swal("Something wrong!", "Mohon masukkan username dan password!", "warning")
            return
        }

        $.ajax({
            url: '/companyprofile/login_members/login_member',
            dataType: 'JSON',
            type: 'POST',
            data: { 
                email : email,
                password: password
             },
            success: function(result){
            
            console.log(result)
                if (result.status == true){
                    if (result.content.status_aktif == 0){
                        swal("Login Anda Gagal!!", "Akun Anda Nonaktif, Mohon Hubungi Admin..!!", "warning").then((value) => {
                            window.location = "";
                        }); 
                    }else{
                        swal("Selamat, Anda berhasil login!!", "Selamat datang, " + result.content.nama + "", "success").then((value) => {
                           window.location = "/produk";
                        }); 
                    }
                }else{
                    swal("Something wrong!", "Maaf, Username dan Password tidak sesuai!", "warning").then((value) => {
                        window.location = "";
                    });
                }
                
            },
            
            error: function(result){
                console.log(result);
            }
        });  
    }
</script>