<div class="card-body">
				<div style="color: #808080; font-size: 13px; margin-top:10px; margin-bottom:20px;" align="left">
					<strong>Konfirmasi Transaksi</strong>
				</div>

				<!-- CONTENT BOX -->
				<div class="content_box" style="margin-top: 0px;">
					<div style="border-radius: 30px">

						<table width="100%">
							<tr>
								<td align="left">
									Harga Jual
								</td>
                                <td width="1%" align="center">
                                :
								</td>
                                <td align="center">
                                Rp. <%= @inquiry_pembelian %>
								</td>
                            </tr>
                            <tr>
								<td align="left">
									Nilai Transaksi
								</td>
                                <td width="1%" align="center">
                                :
								</td>
								<td align="center">
									Jumlah Emas Dalam gram
								</td>
                            </tr>
                            <tr>
								<td align="left">
                                    Jumlah Emas Dalam gram
								</td>
                                <td width="1%" align="center">
                                :
								</td>
								<td align="center">
									Jumlah Emas Dalam gram
								</td>
                            </tr>
						</table>

					</div>
					<div style="color: #D7D7D7; font-size: 12px; margin-top:3px; margin-bottom:20px;" align="center">
						<strong>Cek kembali detail pesanan kamu sebelum melanjutkan </strong>
					</div>
				</div>
			</div>