<div id="layout_sukses_gagal" style="display: none;" align="center">

    <%= render "/my_template/header_nama" %>


    <div style="margin-top: 10%;">
        <img src="https://res.cloudinary.com/officemtm/image/upload/v1573788908/DIGICash/im-sukses_ill4fj.png" alt="">
    </div>
    <div class="container">
        <div class="" align="center" style="margin-bottom: 20px">
            <img src="https://res.cloudinary.com/officemtm/image/upload/v1573800572/DIGICash/berhasil_r58hhq.gif"
                width="65px" height="65px" alt="">

            <br>

            <div style="margin-top: 25px;">
                <h3>
                    Yey.. Pinjaman kamu sudah berhasil diajukan, Silahkan tunggu beberapa saat menunggu proses approval.
                </h3>
            </div>
            <br>
            <table border="0" width="100%">
                <tr>
                    <td>
                        <button type="button" id="back_tohome"
                            style="background-color: white; color:#3a4d87; border-color:#3a4d87;"
                            class="btn btn-block"><strong><span>Kembali ke halaman utama</span></strong></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>