<div id="sms_opt_div" height="100%">
<!-- 
        <%= render "/my_template/header_nama" %>

    <div class="container" style="margin-top: 20%;" height="350px">

        <center>
            <h1 style="color: #3a4d87;"> Kode Verifikasi OTP</h1>
        </center>
        <br>
        <center>
            <h3 style="color: #000000;"> Silahkan masukkan kode OTP yang telah dikirimkan ke
                &nbsp; <%= session[params['userName']]['nohp'] %>
            </h3>
        </center>

        <br>
        <div id="formOtp">
            <input type="text" id="phone" value="<%= session[params['userName']]['nohp'] %>">
            <br>
            <input type="button" id="btnKirim" value="Kirim OTP">
        </div>

        <div id="formKonfirmasi" style="display: none;">
            <input type="text" id="otp" value="">
            <br>
            <input type="button" id="btnKonfirmasi" value="Konfirmasi">
        </div>

        <div id="sign-in-button" style="display: none;"></div>


    </div> -->
</div>

