<p class="m--font-danger" id="search_error"></p>
<div class="input-group">
    <input type="text" class="form-control" placeholder="<%= placeholder %>" id="keyword">
    <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="btn_search">Cari</button>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#btn_search').click(function(){
        keyword = $('#keyword').val()
        $('#search_error').html('')
        if(keyword != ""){
            if(keyword.length >= <%= keyword_length.present? ? keyword_length.to_i : 3%>){
                location.href = '<%= search_url %>?keyword='+keyword;
            }else{
                $('#search_error').html('Keyword pencarian minimal 3 karakter...')
            }
        }else{
            location.href = '<%= search_url %>';
        }
    })
})
</script>